$--bg-color: #D3DCE6 !default;
$--color: #333 !default;
$--header-height: 60px !default;
$--aside-width: 200px !default;
$--container-bg-color: #fff !default;
$--container-color: #333 !default;
$--main-margin:8px !default;

.app-layout {

    .header.el-header,
    .footer.el-footer {
        height: $--header-height;
        background-color: $--container-bg-color;
        color: $--container-color;
    }

    .header.el-header {
        div {
            line-height: $--header-height;
        }

        .el-icon {
            line-height: 60px;
            vertical-align: top;
            margin-right: 16px;
        }

        .el-breadcrumb {
            display: inline-block;
        }

        .avatar {
            display: inline-block;
            float: right;
            padding-top: 12px;
        }
    }

    .asside.el-aside {
        background-color: $--container-bg-color;
        color: $--container-color;

        .logo {
            padding-top: 8px;
            width: 100%;
            height: 2.2rem;
            min-width: 2.2rem;
            margin-right: .5rem;
            vertical-align: top;
        }

    }

    .main-content {
        background-color: $--container-bg-color;
        color: $--container-color;
        margin: $--main-margin;
    }




}

body,
html {
    background-color: $--bg-color;
    color: $--color;
}

body,
html,
div {
    display: block;
    margin: 0;
}